lpmaker/graphs/*.class
lpmaker/*.class
out/
.idea/
flowIDmap
linkCaps
resultfiles/
scripts/flowtmp_*
scripts/gurobi.log
scripts/templog
scripts/dring
scripts/rrg
scripts/test-weights/
scripts/localrouting/
scripts/localrouting2/
scripts/variation/
scripts/cluster*
scripts/delay*
scripts/onethirdtraffic/
scripts/experiment*
scripts/serverlevelpermutation/
topobench.iml
topology/my.lp
topology/pathlengths/pl.0
pathweightfiles/pathweight_equalshare_su3_fbs.txt
trafficfiles/cluster*
