lpmaker/graphs/*.class
lpmaker/*.class
out/
.idea/
flowIDmap
linkCaps
resultfiles/
scripts/flowtmp_*
scripts/gurobi.log
scripts/templog
scripts/2_false_true/*
scripts/2_false_false/*
scripts/6_false_true/*
scripts/6_false_false/*
scripts/7_false_true_fb_skewed/*
scripts/7_false_false_fb_skewed/*
scripts/7_false_true_fb_skewed_rp/*
scripts/7_false_true_fb_uniform/*
scripts/7_false_true_fb_uniform_rp/*
scripts/8_false_true_1_1/*
scripts/8_false_false_1_1/*
scripts/8_false_true_5_20/*
scripts/8_false_true_5_60/*
scripts/8_false_true_20_5/*
scripts/8_false_true_60_5/*
scripts/8_false_true_75_1/*
scripts/9_false_false_5/*
topobench.iml
topology/my.lp
topology/pathlengths/pl.0
